<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.dh.cltf.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Console Perspective"
            class="com.dh.cltf.app.perspective.ConsolePerspective"
            id="com.dh.cltf.app.ConsolePerspective">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
   		<category name="console" id="com.dh.cltf.app.view">
   		</category>
   		<view name="Navigator View" 
   			  category="com.dh.cltf.app.view"
   			  class="com.dh.cltf.app.view.NavigatorView"
   			  id="com.dh.cltf.app.view.NavigatorView">
   		</view>
   		<view name="Device Console View" 
   			  category="com.dh.cltf.app.view"
   			  class="com.dh.cltf.app.view.DeviceConsoleView"
   			  id="com.dh.cltf.app.view.DeviceConsoleView">
   		</view>   		
   </extension>

</plugin>
