<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.dh.cltf.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Console Perspective"
            class="com.dh.cltf.rcp.perspective.ConsolePerspective"
            id="com.dh.cltf.rcp.ConsolePerspective">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.views">
   		<category name="console" id="com.dh.cltf.rcp.view">
   		</category>
   		<view name="Navigator View" 
   			  category="com.dh.cltf.rcp.view"
   			  class="com.dh.cltf.rcp.view.NavigatorView"
   			  id="com.dh.cltf.rcp.view.NavigatorView">
   		</view>
   		<view name="Device Console View" 
   			  category="com.dh.cltf.rcp.view"
   			  class="com.dh.cltf.rcp.view.DeviceConsoleView"
   			  id="com.dh.cltf.rcp.view.DeviceConsoleView">
   		</view>
   		<view name="Devices List View" 
   			  category="com.dh.cltf.rcp.view"
   			  class="com.dh.cltf.rcp.view.DeviceView"
   			  id="com.dh.cltf.rcp.view.DeviceView">
   		</view>  
   </extension>

	<extension point="org.eclipse.ui.commands">
		<command 
			id="com.dh.cltf.rcp.perspective.ConsolePerspective"
			name="Open Console Perspective"/>			
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="org.eclipse.ui.file.exit"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="CTRL+Q"/>
		<key
			commandId="com.dh.cltf.rcp.perspective.ConsolePerspective"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="CTRL+ALT+C"/>			
	</extension>
	
	<extension point="org.eclipse.ui.actionSets">
	    <actionSet>
	    	<menu></menu>
	    </actionSet>
	</extension>
</plugin>
